<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<main>
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Проект ATM_Project</h1>
        <p class="lead text-muted">Многомодульный Spring Boot проект, сборка на фреймворке Maven.</p>
        <p class="lead text-muted">Взаимодействие между модулями осуществляется по протоколу REST.</p>
        <br>
        <p class="lead text-muted">Список телефонов с возможностью редактирования, удаления, пополнения баланса:</p>
        <a class="btn btn-warning" th:href="'/phones'">Телефоны</a>
        <br>
        <p class="lead text-muted">Добавление новых телефонов:</p>
        <a class="btn btn-warning" th:href="'/phone/add'">Добавить телефон</a>
        <br>
        <p class="lead text-muted">Просмотр информации по картам:</p>
        <a class="btn btn-warning" th:href="'/cards'">Карты</a>
    </div>
</main>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>