<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Пополнить счёт телефона</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Пополнить счёт телефона</h1>
    <form method="post"><br>
        <h3>Телефон: <span th:text="${phoneAccount.phoneNumber}"/></h3> <br>

        <h3>Номер карты</h3>
        <select name="cardID" required>
            <option th:each="card : ${creditCards}" th:text="${card.cardNumber}" th:value="${card.id}"></option>
            <option disabled selected value=0>Выберите карту</option>
        </select>
        <br><br>

        <input class="form-control" name="amount" placeholder="Введите сумму" required type="number"><br>

        <button class="btn btn-success" type="submit">Пополнить телефон</button>
    </form>

</div>
P

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>