<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Все телефоны</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Все телефоны</h1>
    <div class="allert allert-info mt2" th:each="el : ${phoneAccounts}">
        <h3 th:text="${el.phoneNumber}"/>
        <p th:text="${el.balance}"/>
        <a class="btn btn-warning" th:href="'/phone/'+${el.id}">Детали</a>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>